In [1]:
import pandas as pd

In [ ]:
lander = pd.read_csv('../data/CFB_lander.csv')

In [3]:
lander = lander[['RECIPNAME', 'DATE', 'REFUNDDATE', 'NAME', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME', 'EMPCITY', 'EMPSTATE', 'AMNT', 'MATCHAMNT']]

In [4]:
lander[lander.duplicated(['NAME'], keep=False)]

,RECIPNAME,DATE,REFUNDDATE,NAME,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT
1,"Lander, Brad",7/31/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,10.0,10.0
2,"Lander, Brad",8/31/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,5.0,5.0
3,"Lander, Brad",9/20/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,5.0,5.0
4,"Lander, Brad",9/30/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,5.0,5.0
5,"Lander, Brad",10/31/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5107,"Lander, Brad",7/30/2024,NaN,"Zimmerman, Lee",Brooklyn,NY,11238,Professor,Hofstra U,307,Prospect Pl,Brooklyn,NY,25.0,25.0
5108,"Lander, Brad",8/15/2024,NaN,"Zimmerman, Lee",Brooklyn,NY,11238,Professor,Hofstra U,307,Prospect Pl,Brooklyn,NY,25.0,25.0
5116,"Lander, Brad",7/31/2024,NaN,"Ziv, Maya",Brooklyn,NY,11238,Publishing,PRH,338,Park Pl,Brooklyn,NY,10.0,10.0
5117,"Lander, Brad",8/31/2024,NaN,"Ziv, Maya",Brooklyn,NY,11238,Publishing,PRH,338,Park Pl,Brooklyn,NY,50.0,50.0
5118,"Lander, Brad",9/30/2024,NaN,"Ziv, Maya",Brooklyn,NY,11238,Publishing,PRH,338,Park Pl,Brooklyn,NY,25.0,25.0

In [5]:
lander_clean = lander.drop_duplicates(subset="NAME")

In [6]:
lander_clean

,RECIPNAME,DATE,REFUNDDATE,NAME,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT
0,"Lander, Brad",7/30/2024,NaN,"Aaronson, Mark",Oakland,CA,94618,Not employed,Not employed,6279,Chabot Rd,Oakland,CA,100.0,0.0
1,"Lander, Brad",7/31/2024,NaN,"Abate, Liam",Queens,NY,11104,Bartender,Greenpoint Beer and Ale,1150,Manhattan Avenue,Brooklyn,NY,10.0,10.0
7,"Lander, Brad",7/26/2024,NaN,"Abdessalam, Zayne",BROOKLYN,NY,11218,Policy researcher,New York State,1,State Plaza,New York,NY,10.0,10.0
9,"Lander, Brad",1/7/2025,NaN,"Abeles, Murray",Astoria,NY,11106,CFO,Public Theater,3185,Crescent St,Queens,NY,250.0,250.0
10,"Lander, Brad",12/13/2024,NaN,"Abraham, Jamili",New York,NY,10014,Proofreader,Jamili Abraham,2,Horatio St,Manhattan,NY,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5120,"Lander, Brad",9/17/2024,NaN,"Zoll-Phelan, Ericka",University City,MO,63130,Non Profit Fund Raising Profes,EZP Fundraising Consulting,7453,Amherst Avenue,University City,MO,500.0,0.0
5121,"Lander, Brad",7/30/2024,NaN,"Zollar, Jawole",Brooklyn,NY,11217,Choreographer,Not employed,121,North Monroe St,Tallahassee,FL,250.0,50.0
5122,"Lander, Brad",12/11/2024,NaN,"Zulack, Mary",Brooklyn,NY,11201,Not Employed,Not Employed,166,Columbia Hts,Brooklyn,NY,50.0,50.0
5123,"Lander, Brad",8/29/2024,NaN,"Zulkowitz, zool",Manhattan,NY,10016,Not Employed,Not Employed,14,East 28th Street,Manhattan,NY,10.0,10.0
5124,"Lander, Brad",7/30/2024,NaN,"Zwerling, Cara",Brooklyn,NY,11215,Manager,Bohner & Co,105,Walnut Rd,Glen Cove,NY,100.0,100.0

In [7]:
lander_clean.to_csv('../output/lander_clean.csv')